



#read
{
  	z-index: 2
}
#block-block-6 h2
{
	text-align: center;
  width: 48%;
  padding-bottom: 6px;
  border-bottom: 2px solid white;
  font-size: 42px;
  font-weight:normal;
	margin-left: 4em;
	margin-top: 0.67em;
}
#block-block-7 h2
{

	text-align: center;
	width: 75%;
  padding-bottom: 12px;
  border-bottom: 2px solid white;
  font-size: 42px;
	margin-left: 1.5em;
	margin-top: 0.67em;
}
#block-block-14 
{

  h2{
  color: white;
 	padding-left: 22px;
  padding-bottom: 6px;
  width: 31%;
  border-bottom: 2px solid white;
  font-size: 42px;
  text-align: left;
  margin-top: -43px;
}

p{
  color: white;
}


.contextual-links-wrapper
{
margin-top: 18px;
margin-right: 45px;
}
}


#block-block-18
{
        
         background-image: url("../images/black_bg.png");
       width: 614px;
        left: -32px;
        box-shadow: 2px 0 20px grey;
        transform: skewX(-10deg);
        position: relative;
        height: 273px;
        background-repeat: no-repeat;
        padding-top: 0px;
        z-index: 1;
        border-bottom: 4px solid #b98537;
        padding-left: 97px;
        z-index: 1;
        float: left;
        overflow: hidden;
        h2{
          transform: skewX(10deg);
        font-size: 42px;
        width:40%;
        color:$gold;
        font-weight: bold;
        border-bottom: 0px ;
        padding: 20px;
       padding-left:55px;
      }

        p{
          color: white;
        }

        .content{
          transform: skewX(10deg);
          font-size: 22px;
          padding-left:78px;
        }
}

  
#block-block-21 
{


  padding-right: 287px;
  padding-left: 150px;
  width: 783px;
  line-height: 1.5em;
  padding-top: 35px;
  padding-bottom: 25px;
  
  margin-bottom: -1px;
  background-image: url("../images/about_red.png");


  h2
  {
    color: black;
    border-bottom-width: 0px;
    margin-bottom: 30px;
    font-size:42px;
  }

  .content{
    font-size: 18px;
  }
  p{
    padding-bottom:20px;
    color: white;
  }
}

    #block-block-19
    {
      float: left;
      margin-right: 0px;
      left: 48.6%;
      width: 628px;
      height: 225px;
      position: relative;
      text-align: center;
      color: white;
      padding-top: 25px;
      border-bottom: 4px solid #b98537;
      background-image: url(../images/highlight_red.png);

      .content{
        font-size: 22px;
      }

    }
    


    #block-block-17
    {
      float: left;
      clear: both;
      z-index: 1;
      height: 250px;
      position: absolute;
      overflow: hidden;
      border-bottom: 4px solid $gold;
    }
#block-views-resources-block-1
   {

    background-image: url(../images/middle.png);
    padding-left: 100px;
    padding-right: 100px;
   // padding-bottom: 163px;
    margin-bottom: 0px;
    background-position: center right bottom;
    //border-bottom: 4px solid $gold;
     
   .content
   {
      width: 80%;
      margin-left: 100px;
      padding-bottom:40px;
   }

     .views-field-field-subtitle
     {
      color:$red;
      font-size: 18px;
     }
 
     .view-header{
      color: $gold;
      padding-bottom: 20px;
     }
     .views-field-title
     {
      font-size: 24px;
      padding-bottom: 20px;

     }

     .views-row-3,.views-row-4,.views-row-5,.views-row-6,.views-row-7
     {
        .views-field-title
           {
            display: none;
           }
     }
      
      .views-field-body
      {
        color: white;
        font-size: 18px;
        //padding-bottom: 20px;
      }

       p{
          padding-bottom: 10px;
       }
       span{
             color:white;
       }
   }



   
   #block-views-resources-block-1 h2
   {
	  font-size: 42px;
		width: 40%;
		color: #b98537;
		font-weight: bold;
		padding-top: 40px;
    padding-left:100px;
    padding-bottom: 20px;
		font-style: Cambria;
		border-bottom:0px;
   }
   .title
   {
	    color:$gold;
	    font-size: 24px;
   }
   .subtitle
   {
	    color:$red;
	    font-size: 18px;
	    font-weight: bold;
   }

 .member_image
  {
    margin: 0px auto;
    height:200px;
    width:400px;
  }
  /*#block-views-team-member-block
  {
    background-image: url("../images/team_black.png");
	width: 840px;
	float: right;
	margin-right: -157px;
}*/

#block-block-23 
  {
        background-image: url("../images/review_top.png");
    color: white;
    //border-top: 4px solid $gold;
    padding-right: 287px;
    padding-left: 150px;
    padding-top: 35px;
   // margin-top: -4px;

    p{

      line-height: 30px;
     padding:20px;
    }
  .content
  {
    font-size: 18px;
  }
    h2
  {
    font-size: 42px;
    width:40%;
    color:$gold;
    font-weight: bold;
    border-bottom: 0px solid;
    font-style: Cambria;
    padding-left:20px;
  }
}
	
     #block-block-25 
  {

        background-image: url("../images/black_bg.png");
         width: 679px;
        left: -25px;
        margin-left: 0px;
        box-shadow: 2px 0 20px grey;
        transform: skewX(-10deg);
        position: absolute;
        border-bottom:4px solid $gold;
        height: 276px;
        background-repeat: no-repeat;
        padding-top: 0px;
        z-index: 1;
        padding-left: 59px;
        z-index: 1;
        float: left;
        h2{
        font-size: 42px;
        width:40%;
        color:$gold;
        font-weight: bold;
        border-bottom: 0px ;
        padding: 20px;
        padding-left:78px;
        transform: skewX(10deg);

      }

        p{
          color: white;

        }

        .content{
          font-size: 22px;
          transform: skewX(10deg);

        }
    }

	
#block-block-29
{
    
  	background-image: url("../images/contact_black.png");
    width: 745px;
    height: 280px;
    /* margin-left: -129px; */
    background-repeat: no-repeat;
    float: left;
    clear: both;
    position: absolute;
    z-index: 1;
    color: white;
}

#block-block-29 h2
{ 
    font-size: 32px;
    width:40%;
    color:$gold;
    font-weight: bold;
    border-bottom: 0px solid;
    font-style: Cambria;
    border-bottom:0px;
    padding:20px 207px ;
}
#block-block-26
{
  height: 280px;
  float: left;
  left: 423px;
  right: 64px;
  width: 797px;
  position: relative;
  overflow: hidden;
}

	#block-block-29 p
	{
	  padding-left:207px;
    font-size: 18px;
	}
    #block-block-25 p
    {
      padding-left:100px;
    }
    
#block-block-3 {  
    background-image: url("../images/black_bg.png");
    width: 716px;
    left: -26px;
    margin-left: 0px;
    box-shadow: 2px 0 20px grey;
    transform: skewX(-10deg);
   height: 189px;
    margin-top: 0px;
    background-repeat: no-repeat;
    padding-top: 43px;
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 18px;
    border-bottom: 4px solid $gold;
    //transform: skewx(-10deg);
    padding-bottom: 48px;
    float: left;
     h2
      {
        color: $gold;
        width: 73%; 
        text-align: left;
        //margin-top: 15px;
        margin-left: -4px;
        border-bottom: 0px;
        padding-left: 124px;
        font-size: 42px;
        transform: skewX(10deg);


      }

      p
         { 


            padding-left: 138px;
            font-size:24px;
      }
          .content
    {

              transform: skewX(10deg);


      a{
          background-image: url("../images/read-w.png");
          background-repeat: no-repeat;
          u{
                  color:transparent;        
          }
       }
    }
}

 #block-block-27{
  //background: $red;
    padding: 30px;
    height: 126px;
    border-bottom: 4px solid #b98537;
   border-top: 4px solid #b98537;
    color: white;
    font-size: 18px;
    font-size: 18px;
    text-align: center;
    background: $red;
    padding: 26px 217px;
    
  }

#block-block-27 h2{
    text-align: center;
    font-weight: bold;
    font-size: 42px;
    color:#000000;  
    border-bottom:0px;
    padding: 20px;


  }
#block-views-list-view-block-1
{
      padding-right: 154px;
      padding-left: 170px;
      padding-top: 35px;
      margin-top: -2px;
      background-image:url("../images/middle1.png");

      .view-header{
        font-size: 18px;
        color: white;
        padding-bottom:20px;

        p{

          padding-bottom:20px;
        }

    }
        .view-content{
          width: 1220px;
          float: left;
          margin-bottom: 34px;
        }
         .view-footer
         {
          color: $gold;
          font-size: 20px;
         padding-bottom: 29px;

         }
        
        h2{
        font-size: 42px;
        color:$gold;
        padding-bottom:20px;
        }

        .views-row-even{
          // float: left;
         // clear: both;
          width: 600px;

        }
       .views-row-odd{
          //float: left;
         width: 600px;
        }
    }
/*

float: right;
clear: left;
top: -439px;
left: -7px;
padding-bottom: 20px;
*/
      

#block-views-list-view-block-1 h2{
  border-bottom: 0px ;
}
.read-more
{

 background-repeat: no-repeat;

}


.view-list-view
{
    div .views-field-body
    {
      display: none;
      float: left;
      clear: both;
      border-top: 4px solid $gold;
      border-bottom: 4px solid $gold;
      color:white;
      padding-left:30px;
      padding-right:30px;
      background: $red;
      height:200px;
      width:1220px ;
      padding-top: 30px;
      width: 838px;
      //margin-left: -150px;
      border-bottom-width: 4px solid $gold;



      p{
         padding-left:30px;
      }
    }
}
/*-----------*/
.member_image
{
  z-index: -1;
  width: 200px;
  height:200px;
}

.views-field-title {
  color: $gold;
  //float: left;
  padding-right: 30px;
   
  }


#block-webform-client-block-32
{
  padding-left: 100px;
  padding-top: 20px;
  margin-top: -4px;
  background-image: url(../images/contact-back.png);
  border-bottom: 4px solid #b98537;
  //margin-top: -151px;

  div .grippie{
    border:0px;
    height:0px;
  }

  input[type="submit"]
  {
    margin-left: 650px;
  width: 135px;
            height: 40px;
            background-color: transparent;
            background-image: url("../images/submit.png");
            color: transparent;
            border: none;
            background-repeat: no-repeat;
  }


}  

#webform-component-message
{
float: right;
margin-top: -188px;
margin-right: 80px;
}

#block-webform-client-block-32 h2
{
display:none;
}

#block-webform-client-block-32 label
{
  color:$gold;
}

#block-block-28
{
   position: relative;
  padding: 36px 40px;
//border-bottom: 4px solid $gold;
  text-align: center;
  background-color: $red;
  color: white;
  font-size: 18px;
}
#block-block-28 h2
{
   text-align:center;
   color:black;
   border-bottom:0px;
   padding:15px;
   font-size:42px;
   font-weight:none;
}

#block-block-30
{
   background-image: url("../images/work_back.png");
   width:100%;
   height:200px;
   color: white;
   margin-bottom: -16px;
   


        h2{
        padding-left:227px;
        border-bottom:0px;    
        color:$gold;
        font-size:42px;
        padding-top:22px;
        padding-bottom:30px;
        }
          .content{
            padding-left: 124px;
            line-height: 1.5em;
          }

         p
        {
          padding-left: 100px;
          width: 743px;
          font-size: 18px;

        }


}

#block-block-31
{   
   margin-top: -80px;
   border-top:4px solid $gold;
   border-bottom:4px solid $gold;
}
#block-block-32
{
margin-top: -70px;
margin-left: -150px;
margin-bottom: -60px;
}




#work{
    height:auto;
    width:100%;
    background-color:$red;
    margin-top: -80px;
    border-top:4px solid $gold;
    border-bottom:4px solid $gold;

}
#block-block-16
{
   // margin-left: 215px;
width: 533px;
left: 688px;
height: 276px;
float: left;
border-bottom:4px solid $gold;
position: relative;
overflow: hidden;
}



#block-views-service-images-view-block
{
      width:100%;
      height:278px;
      background-image: url("../images/Paintbooth 1.jpg");
      border-top: 4px solid #b98537;
      .content{
        margin-left: -110px;;
      }
}




 
 #block-views-galelry-block-1
 {
   margin-top: -80px;
   border-top: 4px solid $gold;
   border-bottom: 4px solid $gold;
   padding:0px 162px;

    span{
      font-size:32px;
      padding-left:100px;

       }

 }




.view-team-view div .views-row-odd
{
 /* img{
   float: left;
  height: 346px;
  width: 477px;
  z-index: -1;
  position: absolute;
  left: 0px;
      }

      */
}





#block-views-team-view-block-1
{
          height: auto;
          width: 100%;
div > div .views-row-even 
{
  float: left;
     width: 100%;
     position: relative;

}
div > div .views-row-odd
{
  float: left;
   width: 100%;
position: relative;
}

            div .views-row-even
          {  
            overflow: hidden;
          border-top: 4px solid $gold;
        border-bottom: 4px solid $gold;
            .views-field-title
            {
                position: absolute;
                font-size: 42px;
                left: 123px;
                z-index: 10;
                padding-top: 20px;
                color: black;

            }
             .views-field-field-sub-title
            {
              position: absolute;
                left: 123px;
                font-size: 18px;
                z-index: 10;
                top: 85px;
                color: white;
            }
                   div .team_body {

                     float: left;
                    //// clear: both;
                     position: absolute;
                   transform: skewX(10deg);
                   background-color: $red;
                    background-repeat: no-repeat;
                    height: 289px;
                    margin-left: 0px;
                    padding-top: 126px;
                    padding-left: 77px;
                    padding-right: 81px;
                    width: 713px;
                    box-shadow: 2px 0px 20px grey;
                    left: -30px;
                    z-index: 1;
                    p{
                      transform: skewX(-10deg);
                      color: white;
                     padding-left: 83px;
                     line-height: 1.5em;


                     span{
                          color: $gold;
                         }
                    }
                                     
        }
            
                   img{
                   float: right;
                    // position: absolute;
                     height: 313px;
                     width: 489px;

                      //left: 740px;
                      }
                    
 }


        div .views-row-odd
        {
        	//border-bottom: 4px solid $gold;
         // float: left;


         .views-field-title
            {
                position: absolute;
                left: 523px;
                z-index: 10;
                top: 30px;
                font-size: 42px;

            }
             .views-field-field-sub-title
            {
              position: absolute;
              left: 525px;
              z-index: 10;
              top: 85px;
              color: white;
         
            }
                 div .team_body
                {
                         float: right;
                        background-image: url("../images/team_black.png");
                        background-repeat: no-repeat;
                         height: 188px;
                        padding-left: 100px;
                        padding-top: 128px;
                        position: relative;
                        width: 741px;
                        z-index: 1;
                        right: -40px;
                        transform: skewX(-10deg);

                          
                }
                  
           p
         {
          color: white;
          transform: skewX(10deg);
          width: 600px;
          padding-left: 10px;
          line-height: 1.5em;
         }


                 img{
                   float: left;
                  position: absolute;
                  height: 317px;
                  width: 489px;
                  //left: 740px;
                      }
                
        }



}
 


.view-review-form
{

  div .views-field-body
  {
    height: auto;
    color:white;
   
  }
  div .views-field-body
  {
    padding: 20px 0px;
   
  }

  div .views-field-field-name
  {
    color: white;
  }
}


#block-views-review-form-block-1
{

       padding-left: 190px;
       padding-top: 50px;
        background-image: url("../images/review_top.png");
 


         .views-field-created
         {
          color: white;
         }


        h2
        {
          color:$gold;
          border-bottom:0px;
          font-size:38px;
          padding-bottom:20px;

        }

}
#block-formblock-review
  {
    background-image: url("../images/review_top.png");
    padding-top: 30px;
    border-top: 4px solid $gold;
   // border-bottom: 4px solid $gold;
    height: 350px;
        h2
    {
      display:none;
    }

    label
    {
      color:$gold;

    }


}


 .webform-component-textfield

{

input[type="text"]
            {
              size:30;
              height:35px;
              background-image:  url("../images/text_box.png");
              background-repeat: no-repeat;
              border:0px;
              padding-left:20px;
              color:black;
              background-color:transparent;

            }
   div  .webform-component-textarea
   {  

      padding-left:30px;
   }
   div  .form-text
    {
      width:67%;
      
     
     &:focus
     {
      outline: none;
     // border:0px;
     // border-color:transparent;
     }

    }



}

.node-review-form
{
   padding-left:200px;
      input[type="text"]
      {
          size:30;
          height:35px;
          background-image:  url("../images/text_box.png");
          background-repeat: no-repeat;
          background-color:transparent;
          width:67%;
          border:0px;
          padding-left:10px;
               &:focus
                  {
                    outline: none;
                  }
         }
         .form-item input.error, .form-item textarea.error, .form-item select.error
         {
          border:0px;
          outline: none;
         }
          input[id="edit-submit"]
          {
            margin:30px;
            position: relative; 
            top:  -260px;
            left: 465px;
            width: 135px;
            height: 40px;
            background-color: transparent;
            background-image: url("../images/submit.png");
            color: transparent;
            border: none;
            background-repeat: no-repeat;
            }
           input[id="edit-preview"]
               {
              display: none;
                }
           
              

        ul.vertical-tabs-list
        {
          display:none;
        }

         div.vertical-tabs 

         {
           display:none;
         }
        

        div .grippie
        {

          border:0px;
          height:0px;
        }


}






#block-block-33
{
     padding: 30px;
    border-top:4px solid $gold;
    //border-bottom:4px solid $gold;
    background-image: url("../images/contact-red.png");

     p{
        color:black;
        text-align:center;
     }
  
}


div .form-textarea-wrapper
    { 
            textarea
            {
                  height:150px;
                  width:81%;
                  background-image:  url("../images/text_area.png");
                  background-repeat:no-repeat;
                  background-color:transparent;
                  border:0px;
                  outline: none;
                  resize: none;
                  padding-left:30px;
                  padding-top:10px;
            }



         
    }

         div .field-type-text-with-summary
         {

            position: relative;
            left: 400px;
            top: -263px;

         }

 .webform-client-form{

        div .resizable-textarea 

                      {
                          div .grippie {
                          background: none;
                          border:0px;
                          //border-top-width: 0;
                          cursor: s-resize;
                          height: 0px;
                          //overflow: hidden;
                          }
                      }
            }

 #block-block-12
  {
    
     
width: 563px;
height: 280px;
left: 54%;
float: left;
border-bottom: 4px solid $gold;
position: relative;
overflow: hidden;

   }

   #block-block-6
  {
     float: left;
     clear:both;
     color: white;
     z-index:1;
     height: 374px;
     box-shadow: 2px 0px 20px grey;

     border-bottom: 4px solid $gold;
     width: 440px;
     background-image: url("../images/red_back_1.png");

     .content {
      margin-left: 30px;
      padding-left: 45px;
      padding-right: -20px;
      width: 534px;
     }
}          

#block-block-7
  {
    float: left;
    width: 420px;
    box-shadow: -2px 0px 20px grey;

    color: white;
    height: 374px;
    border-bottom: 4px solid $gold;
    background-image: url("../images/red_back_2.png");

    .content{
      margin-top: -12px;
      margin-left: 73px;
    }

}  
#block-block-8
  {
     float: left;
      width: 360px;
      height: 374px;
      right: 0px;
      border-bottom: 4px solid $gold;
      img{
        height: 374px;
        max-width: 100%;
      }


}  

 #block-block-34
  {
   float: left;
position: relative;
right: 31px;
clear: both;
height: 340px;
width: 440px;
/* margin-right: 46px; */
overflow: hidden;
transform: skewX(-10deg);
          img{

                height: 340px;
                width: 437px;
                padding-left: 45px;
                /* margin-right: 65px; */
                transform: skewX(10deg);
               }
               &:after
               {
                 content: 'Before';
                 position:absolute;
                 background-color:black;
                 color:white;
                 width: 70px;
                 padding:5px;
                 -webkit-backface-visibility: hidden;
                 height: 30px;
                 top: 30px;
                 font-size: 28px;
                 left: 60px;
                 border:4px solid $gold;
               }


  }
  #block-block-11
  {
      float: left;
      width: 320px;
      height: 289px;
      clear: right;
      position: relative;
      z-index: 1;
      transform: skewX(-10deg);
      color: white;
      background-image: url("../images/work1_back.png");
      padding-left: 46px;
      padding-top: 51px;
      margin-left: -32px;
      box-shadow: 0px 0px 20px ;


      h2{
          color: $gold;
          width: 87%;
          font-size: 42px;
          font-size: 4  2px;
          border-bottom: 2px solid $gold;
          transform: skewX(10deg);

          text-align: center;
      }

      .content
      {
        font-size: 18px;
        padding-top: 20px;
       transform: skewX(10deg);

       a{
         background-image: url("../images/seemore.png");
         width: 40px;
         height: 40px;
         background-position:0px;
         color: transparent;
         background-repeat: no-repeat;
         margin-left: 65px;

       }

      }


  }
  #block-block-35
  {
             float: left;
        width: 482px;
        position: relative;
        height: 340px;
        /* left: 783px; */
        overflow: hidden;
        margin-left: -37px;
 &:after
               {
                 content: 'After';
                 position:absolute;
                 background-color:black;
                 color:white;
                 width: 53px;
                 padding: 5px 10px 3px;
                -webkit-backface-visibility: hidden;
                 height: 30px;
                 top: 30px;
                 font-size: 28px;
                 left: 98px;
                 transform: skewX(-10deg);
                 border:4px solid $gold;
               }

  }

   
   #block-block-13
  {
          height: 250px;
          //border-bottom: 4px solid $gold;
          float: left;
          clear: both;
          left: -25px;
         width: 594px;
         border-top: 4px solid $gold;

  }

  #block-block-14
  {
 float: left;
width: 671px;
height: 172px;
padding-top: 78px;
padding-left: 48px;
border-top: 4px solid #b98537;
//border-bottom: 4px solid #b98537;
transform: skewX(-10deg);
background-image: url("../images/highlight_red1.png");
/* overflow: hidden; */
right: -31px;
position: absolute;
-webkit-backface-visibility:hidden;



.content{
  transform: skewX(10deg);
  padding-left: 10px;

      }
      h2
      {
        transform: skewX(10deg);
      }

  }

  #block-block-18
  {
  }

   #block-block-20
        {
      float: left;
      height: 256px;
      left: 655px;
      width: 384px;
      padding-top: 17px;
      padding-left: 183px;
      position: absolute;
      border-bottom: 4px solid #b98537;
      
  }

   #block-block-36
  {
  
   width: 100%;
    height: 200px;
    background-image: url("../images/review_top.png");
    color: $gold;
    font-size: 36px;
    text-align: center;
    padding-top: 200px;
    border-bottom: 4px solid $gold;

    h2{
      display: none;
      }

  }

  

  #block-views-team-view-block-1:after{
  content: ".";
  display: block;
  clear:both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#block-block-37
{
         height: 401px;
        float: left;
        position: relative;
        right: 43px;
        clear: both;
        width: 676px;
        z-index: 1;
        /* margin-right: 46px; */
        overflow: hidden;
        transform: skewX(-10deg);
        -webkit-backface-visibility: hidden;
        box-shadow:2px 0px 20px ;

          img{
                height: 404px;
                width: 675px;
                padding-left: 40px;
                transform: skewX(10deg);
               }

}

#block-block-38
{

  height: 400px;
  float: right;
  position: absolute;
  overflow: hidden;
  margin-left: 590px;
   img{

         height: 400px;
          width: 629px;
}

}
