

#block-block-14 
{
    h2
    {
        color: white;
        padding-bottom: 9px;
        border-bottom: 2px solid white;
        text-align: left;
    }

    p
    {
        color: white;
    }

    .contextual-links-wrapper
    {
        margin-top: 18px;
        margin-right: 45px;
    }
}

#block-block-18
{
    background-image: url("../images/black_bg.png");
    background-repeat: no-repeat;
    width: 614px;
    height: 273px;
    left: -32px;
    box-shadow: 2px 0 20px black;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
     -ms-transform: skewX(-10deg);
    -webkit-backface-visibility: hidden;
    position: relative;
    z-index: 1;
    padding-top: 0px;
    padding-left: 97px;
    float: left;
    overflow: hidden;
    
    h2
    {
        color:$gold;
        border-bottom: 0px ;
        padding-top: 20px;
        padding-bottom:20px;
    }
    p
    {
      color: white;
    }

    .content
    {
        -webkit-transform: skewX(10deg);
        transform: skewX(10deg);
        -ms-transform: skewX(10deg);
        padding-left:78px;
        width: 83%;
    }
}

#block-block-21 
{
    padding-top: 35px;
    padding-bottom: 25px;
    margin-bottom: -1px;
    background-color:$red;

    h2
    {
        color: black;
        border-bottom-width: 0px;
        margin-bottom: 30px;
        padding-left: 12%;
    }
    p
    {
        padding-bottom:20px;
        color: white;
    }

    .content
    {
        width: 80%;
        padding: 0 12%;
    }
}

#block-block-19
{ 
    float: right;
    margin-right: 0px;
    width: 50%;
    z-index: 1;
    color: white;

    h2
    {
        color: black;
        padding:20px 0px;
    }
    .contextual-links-wrapper
    {
        width: 13%;
    }
    .content
    {
        width: 85%;
        padding-left: 5%;
    }
}

#block-block-17
{
    float: left;
    width: 50%;
    position: relative;
    overflow: hidden;

    img
    {
        display: block;
        width: 100% !important;
        height: auto !important;
    }
}

#block-views-resources-block-1
{
    background-image: url(../images/middle.png);
    background-position: center right bottom;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 0px;

    .content
    {
        width: 80%;
        margin-left: 100px;
        padding-bottom:40px;
    }
    .views-field-field-subtitle
    {
        color:$red;
        font-size: 18px;
    }
    .view-header
    {
        color: $gold;
        padding-bottom: 20px;
    }
    .views-field-title
    {
        font-size: 24px;
        padding-bottom: 20px;
    }
    .views-field-body
    {
        color: white;
        font-size: 18px;
    }

    p
    {
        padding-bottom: 10px;
    }
    span
    {
        color:white;
    }
}
  
#node-10
{
    color: white;

    .content
    {
        padding-bottom: 20px;
    }
   
    h4
    {
        color: $gold;
        text-align:center;
        line-height: 20px;
        position:relative;
        width: 64%;
        max-width: 940px;
        margin: 30px auto;
        padding:0 18%;

        &:before,
        &:after
        {
            content: '';
            border-bottom: 1px solid $gold;
            color: transparent;
            position: absolute;
            display: block;
            top:0;
            width: 16%;
            height: 50%;
        }

        &:before
        {
            left: 0;
        }
        &:after
        {
            right: 0;
        }
    }

    #block-views-list-view-block-no-body,
    #block-views-list-view-block-body
    {    
        padding-left:0;

        .content
        {
            padding-left:0;
            padding-top:10px;
            padding-bottom:10px;

           
            a:hover
            {
                border-bottom:0;
            }
        }
    }
    
}

#block-block-25
{
    background-image: url("../images/black_bg.png");
    width: 679px;
    left: -25px;
    margin-left: 0px;
    box-shadow: 2px 0 20px black;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
     -ms-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    position: absolute;
    height: 290px;
    background-repeat: no-repeat;
    padding-top: 0px;
    z-index: 1;
    padding-left: 59px;
    float: left;
    -webkit-backface-visibility: hidden;

    h2                  
    {
        width:40%;
        color:$gold;
        border-bottom: 0px ;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    p
    {
        color: white;
    }
    .content
    {
        -webkit-transform: skewX(10deg);
        transform: skewX(10deg);
         -ms-transform: skewX(10deg);
        padding-bottom:20px;
        width: 83%;
        padding-left: 15%;
    }
}

	
#block-block-29
{
    width: 30%;
    height: auto;
    padding-bottom: 2%;
    background-repeat: no-repeat;
    float: right;
    position: relative;
    z-index: 1;
    color: white;
}

#block-block-29 h2
{ 
    color:$gold;
    border-bottom: 0px solid;
    border-bottom:0px;
    padding:20px 0;
}
#block-block-26
{
    float: left;
    width: 70%;
    position: relative;
    overflow: hidden;
}
    
#block-block-3 
{  
    background-image: url("../images/black_bg.png");
    -webkit-backface-visibility:hidden;
    width: 716px;
    left: -2%;
    box-shadow: 2px 0 20px black;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    background-repeat: no-repeat;
    padding-top: 15px;
    position: absolute;
    z-index: 1;

    & > *
    {
        -webkit-backface-visibility:visible;
    }

    a.read-wel
    {
        
        background-image: url("../images/read-w.png");
        background-repeat: no-repeat;
        color:transparent;
        font-size:0;
        display: block;
        height: 45px;
        margin-left:0;
        margin-top: 20px;
        width: 150px;
        border-bottom:0;

        &:hover
        {
          background-image: url("../images/read-more-b.png");  
          margin-top: 22px;
          margin-left: 2px;
        }
    }


    p
    { 
        font-size:24px;
    }

    .content
    {
        -webkit-transform: skewX(10deg);
        transform: skewX(10deg);
        -ms-transform: skewX(10deg);
        padding-left:13%;
        padding-bottom:11px;
    }
}

#block-block-27
{
    padding-top:20px;
    color: white;
    font-size: 18px;
    font-size: 18px;
    width: 100%;
    text-align: center;
    background: $red;
    box-shadow: 0px 1px 8px black inset;

    .content
    {
        padding-left:20%;
        padding-right:20%;
        padding-bottom:3%;
    }
}

#block-block-27 h2
{
    text-align: center;
    color:#000000;  
    border-bottom:0px;
    padding-bottom: 20px;
}

#block-webform-client-block-32
{
    padding-left: 200px;
    padding-top: 20px;
    margin-top: -4px;

    div .grippie
    {
        border:0px;
        height:0px;
    }

    input[type="submit"]
    {
        margin-left: 60%;
        width: 140px;
        height: 45px;
        background-color: transparent;
        background-image: url("../images/submit.png");
        color: transparent;
        border: none;
        font-size: 0;
        background-repeat: no-repeat;
        outline: none;
        cursor: pointer;

         &:hover
        {
            background-image: url("../images/submit-hover.png");
        }
    }

    .form-required
    {
        color: $gold;
    }

}  


#webform-component-message
{
    float: right;
    margin-top: -228px;
    margin-right: 15%;

    label
    {
        padding-left:18px;
    }
}

#block-webform-client-block-32 h2
{
    display:none;
}

#block-webform-client-block-32 label
{
    color:$gold;
    font-size: 24px;
}

#block-block-28
{
   position: relative;
   padding-top: 20px ;
   text-align: center;
   background-color: $red;
   color: white;
   font-size: 18px;
   box-shadow: 0px 1px 8px black inset;

   .content
   {
       padding-left:20%;
       padding-right:20%;
       padding-bottom: 3%;
   }
}
#block-block-28 h2
{
   text-align:center;
   color:black;
   border-bottom:0px;
   padding-bottom:20px;
}

#block-block-30
{
    width:100%;
    height:auto;
    color: white;

    h2
    {
        padding-left:10%;
        border-bottom:0px;    
        color:$gold;
        padding-top:22px;
    }

    .content
    {
        padding-left: 10%;
        padding-right: 10%;
        width: 80%;
        padding-top:30px;
        padding-bottom:30px;
    }

    p
    {
        width: 100%;
    }
}

#block-block-31
{   
   margin-top: -80px;
   border-top:4px solid $gold;
   border-bottom:4px solid $gold;
}

#block-block-32
{
    margin-top: -70px;
    margin-left: -150px;    
    margin-bottom: -60px;
}

#block-block-16
{
    width: 533px;
    left: 688px;
    height: auto;
    float: left;
    position: relative;
    overflow: hidden;

    img
    {
        width:100% ! important;
        height: auto ! important;
        display: block;
    }
}

#block-views-service-images-view-block
{
    width:100%;
    height:auto;
    background:white;
    border-top: 4px solid $gold;
    background-size:100% 100%;
}

#block-views-galelry-block-1
{
    margin-top: -80px;
    border-top: 4px solid $gold;
    border-bottom: 4px solid $gold;
    padding:0px 162px;

    span
    {
        font-size:32px;
        padding-left:100px;
    }
}

        
#block-views-team-view-block-1
{
    height: auto;
    width: 100%;

    .views-field-title 
    {
        color: $gold;
        font-size: 24px;
        padding-right: 30px;
    }


    div > div .views-row-even 
    {
        float: left;
        width: 100%;
        position: relative;
    }

    div > div .views-row-odd
    {
        float: left;
        width: 100%;
        position: relative;
        min-height: 317px;
        overflow: hidden;
        background: url("../images/glass-team.png");
        background-size: 100% 100%;
    }
    div .views-row-even
    {  
        overflow: hidden;
        border-top: 4px solid $gold;
        border-bottom: 4px solid $gold;
        margin-top: 1px;
        background:$red;

        a
        {
            color: black;
        }
        a:hover
        {
           text-decoration: underline;
        }

        .views-field-title
        {
            position: relative;
            font-size: 36px;
            left: 16%;
            z-index: 10;
            padding-top: 20px;
            color: black;
        }

        .views-field-field-sub-title
        {
            position: relative;
            left: 16%;
            z-index: 10;
            color: white;
            font-size: 20px;
        }

        .views-field.views-field-field-team-image
        {
            -webkit-transform: skewX(10deg);
            -moz-transform: skewX(10deg);
            -ms-transform: skewX(10deg);
            transform: skewX(10deg);
            overflow: hidden;
            width: 33%; 
            float: right;
            margin-right: -27px;
            display: inline-block;

            .field-content
            {
                box-shadow:-4px 0px 20px black inset;
                display: inline-block;
                -webkit-backface-visibility: hidden;
            }

            img
            {
                -webkit-transform: skewX(-10deg);
                -moz-transform: skewX(-10deg);
                -ms-transform: skewX(-10deg);
                transform: skewX(-10deg);
                display: block;
                position: relative;
                margin-left: -42px;
            }
        }
        div .team_body
        {  
            float: left;
            position: relative;
            background-repeat: repeat;
            height: auto;
            padding-top:20px;
            left: 16%;
            width: 49%;
            z-index: 1;
            p
            {
                color: white;
                width: 97%;
            }
        }
        
    }
    div .views-row-odd
    {
        .views-field-title
        {
            position: relative;
            left: 60px;
            z-index: 10;
            padding-top: 20px;
            font-size: 36px;
        }

        .views-field-field-sub-title
        {
            position: relative;
            left: 60px;
            z-index: 10;
            color: white;
            font-size: 20px;
        }
        div .team_body
        {
            position: relative;
            width: 80%;
            left: 60px;
            padding-top: 20px;
            height: 100%;
            z-index: 1;
            min-height: 200px; 
        }
      
        p
        {
            color: white;
            height: auto;
        }
        .views-field-field-team-image
        {
            float: left;
            -webkit-transform: skewX(-10deg);
            transform: skewX(-10deg);
            -ms-transform: skewX(-10deg);
            overflow: hidden;
            width: 33%;
            margin-left: -29px;
            .field-content
            {
            box-shadow: -4px 0px 20px black inset;
            -webkit-backface-visibility: hidden;
            }
        }
        img
        {
            position: relative;
            -webkit-transform:skewX(10deg);
            transform: skewX(10deg);
            -ms-transform: skewX(10deg);
            display: block;
        }
                
    }
}

.view-review-form
{
    div .views-field-body
    {
        height: auto;
        color:white;
    }
    div .views-field-body
    {
        padding: 20px 0px;
    }

    div .views-field-field-name
    {
        color: white;
    }
}


#block-views-review-form-block-1
{
    padding-left: 10%;
    padding-top: 50px;

    .field-content
    {
        font-size: 18px;
    }

    .views-field-created
    {
        color: white;
    }

    h2
    {
        color:$gold;
        border-bottom:0px;
        padding-bottom:20px;
    }
}

#block-formblock-review
{
    padding-top: 30px;
    border-top: 4px solid $gold;
   
    h2
    {
        display:none;
    }

    label
    {
        color:$gold;
        font-size: 24px;
    }

    .form-required
    {
        color:$gold;
    }
}


.webform-component-textfield
{
    input[type="text"]
    {
        height:35px;
        background-image:  url("../images/text_box.png");
        background-repeat: no-repeat;
        border:0px;
        width:274px;
        padding-left:20px;
        color:black;
        background-color:transparent;
        outline: none;
        padding-right:25px;
    }

    div  .webform-component-textarea
    {
        padding-left:30px;
    }

    div  .form-text
    {
        width:67%;

        &:focus
        {
            outline: none;
        }
    }
}

.node-review-form
{
    padding-left:16%;

    input[type="text"]
    {
        size:30;
        height:35px;
        background-image:  url("../images/text_box.png");
        background-repeat: no-repeat;
        background-color:transparent;
        width:67%;
        border:0px;
        padding-left:10px;

        &:focus
        {
            outline: none;
        }
    }

    .form-item input.error, .form-item textarea.error, .form-item select.error
    {
        border:0px;
        outline: none;
    }

    .form-actions.form-wrapper
    {
        width: 40px;
        left: 55%;
        position: relative
    }
    input[id="edit-submit"]
    {
        margin:30px;
        position: relative; 
        top: 7px;
        left: 54%;
        font-size: 0;
        width: 140px;
        height: 45px;
        background-color: transparent;
        background-image: url("../images/submit.png");
        color: transparent;
        border: none;
        cursor: pointer;
        background-repeat: no-repeat;

        &:hover
        {
            background-image: url("../images/submit-hover.png");
        }
    }
    input[id="edit-preview"]
    {
        display: none;
    }
    ul.vertical-tabs-list
    {
        display:none;
    }
    div.vertical-tabs 
    {
        display:none;
    }  
    
    div .grippie
    {
        border:0px;
        height:0px;
    }

    div .field-type-text-with-summary
    {
        position: relative;
        margin-top: -278px;
        left: 500px;

        label
        {
            padding-left:16px;
        }

    }

}

#block-block-42
{
    text-align: center;
    height: 400px;
    padding-top:20px;
}

#block-block-33
{
    padding: 15px;
    background: $red;
    box-shadow: 0px 3px 9px black inset;

    p
    {
        font-size: 36px;
        color:black;
        text-align:center;
    }
}

div .form-textarea-wrapper
{ 
    textarea
    {
        height:150px;
        width: 382px;
        background-image:  url("../images/text_area.png");
        background-repeat:no-repeat;
        background-color:transparent;
        border:0px;
        outline: none;
        resize: none;
        padding-left:30px;
        padding-top:10px;
        padding-right:20px;
        overflow: auto;
    }
}

div .field-type-text-with-summary
{
    position: relative;
}

.webform-client-form
{
    div .resizable-textarea 
    {
        div .grippie 
        {
            background: none;
            border:0px;
            cursor: s-resize;
            height: 0px;
        }
    }
}

#block-block-12
{         
    width: 45%;
    float: right;
    
    img
    {
        width: 100% ! important;
        height: auto ! important;
        display: block;
    }

}

.body-repair
{
    height: 280px;
    min-height: 150px;
}

#block-block-6
{
    float: left;
    z-index:1;
    height: 374px;
    width: 33.333%;
    background:$red;
    background-size:60%;
    background-position:left bottom;
    background-image: url("../images/Paint_tool.png");
    background-repeat:no-repeat;

    h2
    {
        text-align: center;
        color: white;
        padding-left:20px;
        padding-right:20px;
        display: inline-block;
        padding-bottom: 9px;
        border-bottom: 2px solid white;
        margin-top: 0.67em;
    }

    .content 
    {
        padding-left: 39%;
        text-align: right;
        width: 51%;

        p
        {
            padding-top:20px;
        }

        .read-button
        {
    
            background-image: url("../images/read_more.png");
            background-repeat: no-repeat;
            height: 50px;
            width: 140px;
            display: block;
            font-size: 0;
            background-position:center;
            color: transparent;
            margin: auto;
            overflow: hidden;
            border-bottom:0;

            &:hover
            {
                background-image: url("../images/read-more-hover.png");
            }
        }
    }
}          

#block-block-7
{
    float: right;
    width: 33.333%;
    height: 374px;
    background-image: url("../images/red_back_2.png");

    .content
    {
        width: 75%;
        margin-left: 10%;

        p
        {
            padding-top:20px;
        }

        h2
        {

            text-align: center;
            color: white;
            padding-left:20px;
            padding-right:20px;
            display: inline-block;
            padding-bottom: 9px;
            border-bottom: 2px solid white;
            margin-top: 0.67em;
        }

        .read-button-repair
        {
            background-image: url("../images/read_more.png");
            background-repeat: no-repeat;
            height: 50px;
            width:140px;
            margin: auto;
            font-size: 0;
            display: block;
            background-position: center;
            color: transparent;
            border-bottom:0;

             &:hover
            {
                background-image: url("../images/read-more-hover.png");
            }
        }
    }
}  

#block-block-8
{
    float: left;
    width: 33.333%;
    height: 374px;

    p
    {
        margin-bottom:-1%;
    }
    img
    {    
        width: 100%;
        height: 374px;
    }
}  

#block-block-34
{
    float: left;
    position: relative;
    right: 33px;
    clear: both;
    height: 340px;
    width: 33.333%;
    overflow: hidden;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);

    &:hover a[href]:after
    {     
        content: url("../images/before-hover.png");  
    }

    img
    {
        padding-left: 45px;
        -webkit-transform: skewX(10deg);
        transform: skewX(10deg);
        -ms-transform: skewX(10deg); 
    }

    a[href]:after
    {
        content: url("../images/before.png");
        position:absolute;
        color:transparent;
        width: 70px;
        padding:5px;
        cursor: pointer;
        height: 30px;
        top: 30px;
        font-size: 28px;
        left: 60px;
        -webkit-transform: none;
        transform: none;
        -ms-transform: none;
        -webkit-transform: skewX(10deg);
        transform: skewX(10deg);
        -ms-transform: skewX(10deg); 
    }
}

#block-block-11
{
    float: left;
    width: 33.333%;
    height: 289px;
    position: relative;
    z-index: 1;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    background-image: url("../images/work1_back.png");
    padding-top: 28px;
    padding-bottom: 22px;
    margin-left: -32px;
    text-align: center;
    box-shadow: 0px 0px 20px black ;

    h2
    {
        color: $gold;
        padding-left:20px;
        padding-right:20px;
        display: inline-block;
        padding-bottom:9px;
        border-bottom: 2px solid $gold;
        -webkit-transform: skewX(10deg);
        -ms-transform: skewX(10deg);
        transform: skewX(10deg);
        text-align: center;
        margin-right: 22px;
    }


    a.see-more
    {
        background-image: url("../images/seemore.png");
        height: 50px;
        color: transparent;
        background-repeat: no-repeat;
        font-size: 0;
        display: block;
        width: 135px;
        margin: auto;
        background-position:center;
        border-bottom:0;

        &:hover
        {
          background-image: url("../images/see-more-b.png");  
          padding-left: 2px;
        }
     }

    .content
    {
        font-size: 18px;
        padding-top: 20px;
        -webkit-transform: skewX(10deg);
        transform: skewX(10deg);
        -ms-transform: skewX(10deg);
        width: 80%;
        text-align: center;
        padding-left: 12%;
    }
}

#block-block-35
{
    float: right;
    width: 39%;
    position: relative;
    height: 340px;
    overflow: hidden;
    margin-left: -9%;
    padding-left: 23px;

    a[href]:after
    {
        content: url("../images/after.png");
        position:absolute;
        color:transparent;
        width: 53px;
        padding: 5px 10px 3px;
        height: 30px;
        top: 30px;
        font-size: 28px;
        left: 98px;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        cursor: pointer;
    }

    &:hover a[href]:after
    {     
        content: url("../images/after-hover.png");  
    }
}

#block-block-13
{
    height: auto;
    float: left;
    position: relative;
    clear: both;
    left: -29px;
    width: 50%;
    transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    overflow: hidden;

   img
   {
        height: auto ! important;
        transform: skewX(10deg);
        -webkit-transform: skewX(10deg);
        -ms-transform: skewX(10deg);
        width: 105% ! important;
        display: block;
    }
}

#block-block-14
{
    float: right;
    width: 48%;
    position: relative;
    -webkit-backface-visibility:hidden;

    .content
    {
        padding-right: 10%;
        width:90%;
        padding-top:20px;
    }

    h2
    {
        padding-left:20px;
        padding-right:20px;
        padding-top:20px;
        display: inline-block;
    }


}

#block-block-20
{
    float: left;
    height: 256px;
    text-align: center;
    left: 655px;
    width: 47%;
    padding-top: 17px;
    position: absolute;
    background-color:white;
}

#block-block-36
{

    width: 100%;
    height: 400px;
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
    border-bottom: 4px solid $gold;
}

#block-views-team-view-block-1:after
{
    content: ".";
    display: block;
    clear:both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#block-block-37
{
    height: 401px;
    float: left;
    position: relative;
    right: 43px;
    clear: both;
    width: 56%;
    z-index: 1;
    overflow: hidden;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    -webkit-backface-visibility: hidden;
    box-shadow:2px 0px 20px black ;

    img
    {
        height: auto ! important;
        width: 100% ! important;
        padding-left: 40px;
        display: block;
        -webkit-transform: skewX(10deg);
        transform: skewX(10deg);
        -ms-transform: skewX(10deg);
    }

}

#block-block-38
{
    height: 401px;
    float: right;
    position: absolute;
    overflow: hidden;
    margin-left: 49%;
    width: 51%;

    img
    {
        height: auto;
        width: 100%;
    }
}
#block-block-43
{
    display: inline-block;
    position: relative;
    vertical-align: middle;

    .appointment 
    {
        height: 54px;

        a.fb 
        {
            background:url(../images/fb_h.png) no-repeat;
            display: block;
            width: 50px;
            height: 50px;
            font-size: 0;
            color: transparent;
            float: left;
        }

        a.schedule
        {
            background-image: url("../images/appointment.png");
            background-repeat: no-repeat;
            width: 141px;
            height: 60px;
            display: block;
            float: left;
            font-size: 0;
            color: transparent;
            padding-right:33px;

            &:hover
            {
             background-image: url("../images/appointment-hover.png");  
             margin-left: 2px;
             margin-right: -2px;
            }
        }

        img
        {
            height: 40px;
        }
    }
}

#block-block-40
{   
    display: inline-block;
    margin-left: 31%;
    vertical-align: middle;
    padding-right: 12px; 

    h2
    {
        font-size: 42px;
        display: block;
        vertical-align: middle; 
    }

    p
    {
        color: white;
        font-size: 25px;
        display: inline;
        vertical-align: middle;

        a
        {
            color: white;
        }

        img
        {
            vertical-align: middle;
        }
    }
}

#block-block-41
{   
    text-align: right;
    float: right;
    padding-left: 20px;

    h2
    {
        font-size: 45px;
        color: black;
        display: block;
        vertical-align: middle; 
        a  
        {
            color: black;
        }
    }

    p
    {
        display: block;
        color: white;
        vertical-align: middle;
        font-size: 18px;
    }
}

#block-system-main-menu 
{
    padding-top:72px;

    ul.menu
    {
        text-align: right;
    }
    li
    { 
        display:inline-block;
        font-size: 16px;
    }
    a:hover
    {
        border-bottom:2px solid white;
    }
}

#block-block-39
{
    display: none;
}

#block-views-list-view-block-body
{   
    width: 100%;

    .service-title
    {
        padding-top: 15px;
        width: 60%;
    }

    .view-content
    {
        padding-top: 10px;
    } 
}

#block-views-list-view-block-no-body
{      
    padding-left: 10%;

    .view-content
    {
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;
    } 
    .service-title
    {
        padding-top:20px;
    }

}

.view-review-form div .views-field-body
{
     .field-content
     {
        display: inline;
     }
}

.view-review-form div .views-field-body:before
{
    content:'\201C';
    display:inline;
    color:$gold;
}

.view-review-form div .views-field-body:after
{
    content:'\201D';
    display:inline;
    color:$gold;
}

#block-block-44
{
    float: left;
    height: 100px;
    border-right: 2px solid $gold;
    padding-right: 20px;
    padding-left: 20px;

    img
    {
        padding:10px;
    }
}
