
  body {  
    line-height: 1;
  }

  #header,
  #banner,
  #black1,
  #black2,
  #red1,
  #red2,
  #footer1,
  #footer2
  {
    & > div
    {
      width: 1220px;
      margin: 0 auto;
      position: relative;
    }
  }
 
  #top_phone
  {
  font-size:35px;
  font-weight:bold;
  padding-left: 161px;
  }
  
  #top_address
  {
  padding-bottom:30px;
  font-size:20px;
  font-weight:bold;
  color:#cccccc;
  text-decoration:none;
  }
  a:active{
  	
  }
  a:link{
  	color:$gold;
  }
  a:link {
      text-decoration: none;
      color:$gold;
  }

  a:visited {
      text-decoration: none;
      color:$gold;
  }

  a:hover {
      text-decoration: none;
      color:$gold;
  }

  li a.active
  {
     color:$gold;
  }


  a:active {
      text-decoration: none;
      color:$gold;
  }  

   #header_info
    {
         margin-top: 35px;
        margin-left: 20px;
      }

  #header_info>div
    {
      display: inline;
    }
  
    .read-more a
      {
        display:none;
      }

      .view-list-view
      {
        overflow: hidden;

    .views-row
    {
      clear: both;
      position: relative;
      height: 40px;

      .read-more,
      .read-less
      {
        position: absolute;
        //top: 30;
        right: -65;
        margin-top: -7px;
        left: 360px;

        a
        {
          display: none;
        }
      }

      &.read-more-open
      {
        .read-more
        {
          display: none;
        }
        .read-less a
        {
          display: block;
        }
      }


      .service-title
        {
          color:white;
          font-size:24px;
          padding-right: 40px;

          
        }
     &:hover .read-more a.body-content
      {
        display:block;
      }

      .body-content
      {
         color:$gold;
         font-size:28px;
         padding-right: 40px;
         float: left;
         clear: left;
        
      }
    }
  }



  #header{
    background-color:black;
    border-bottom: 4px solid $gold;
    height:158px;
  }
  #logo{
    float:left;
    margin-top:10px ;
    margin-left: 100px;

  }

  #header_right
  {

       width: 770px;
       float: right;
       color: #b98537;
       margin-bottom: -97px;

  }

  #banner
  {
  display:block;
  height:400px;
  border-bottom: 4px solid $gold;
  overflow:hidden;


  }


  #black1
  {
    //background: url(../images/pavement.jpg);
    height:auto;
     position: relative;
    overflow: hidden;
   // border-bottom: 4px solid $gold;

  }

  #footer1
  {

    display:block;
    background-image: url("../images/foot1.jpg");
    background-repeat:no-repeat;
    height:141px;
    margin: 0;
    border: 0;
    border-top: 4px solid $gold;
    padding-top:60px;
    clear: both;
  }

  #footer2
  {
  display:block;
  background-image: url("../images/footer_back.png");
  background-repeat:no-repeat;
  height:156px;
  }

  #middle_bottom_footer 
  {
    float:left;
      padding-left: 20px;

    
  }
  #right_bottom_footer 
  {
      float:left;
      padding-left: 20px;
      height: 101px;
      border-left: 2px solid $gold;

  }

  #left_bottom_footer 
  {
    float:left;
    padding-left: 89px;
    width: 186px;
    border-right: 2px solid $gold;
   
  }

  #footer_container
  {
    
    padding:20px;
    padding-left: 100px;
    
  }

  #site-by-cci
  {
    font-size: 12px;
    color:$gold;
    clear:left;
    font-family: initial;
    text-align: center;
    padding-top: 10px;
  }

     .jcarousel-container
     {
       width: 1000px;
       height: 102px;
        padding: 20px 40px;
        margin: auto;
      }

#red1
  {
      margin: 0 auto;
      width:1220px;
      height: auto;
     // border-top: 4px solid $gold;
  }

  #black2
  {
      height: auto;
      position: relative;
      overflow: hidden;
  }

  #red2{
    height: auto;
    overflow: hidden;
    position:relative; 
   }

.view-gallery 
{

  .views-field-field-image img
            {
            
             
            }

        
         div .views-row
         {
         
          // margin:30px;
         
          float: left;
         }
      img{
            // border:4px solid black;

           }

          .views-field-title
         {
              font-size:42px;
              padding-left: 200px;
              width: 400px;
              a:hover
              {
              text-decoration: none;
              color: white;
                  }
         }

         div .views-row-odd
         {

              width: 730px;
              height: 357px;
              transform: skewX(-10deg);
              overflow: hidden;
              z-index: 46;
              float: left;
              left: -60px;
              position: relative;
              border-top: 4px solid #b98537;
              margin-bottom: 23px;
              -webkit-backface-visibility: hidden;
                          
            img{

                transform: skewX(10deg);
                margin-right: 53px;
                width: 704px;
                height: 315px;
                padding-left: 56px;
                position: relative;
                 -webkit-box-shadow: 10px 0 5px -2px grey;
                            }

         }


          div .views-row-even
         {
          width: 619px;
          height: 314px;
          left: 602px;
          /* right: 54px; */
          z-index: 1;
          margin-bottom: 66px;
          position: absolute;
          border-top: 4px solid #b98537;
                   img{
                          width: 618px;
                          height: 315px;
                          z-index: -1;
                      }
           
         }
 }

.view-gallery:after{
          content: ".";
          display: block;
          clear:both;
          visibility: hidden;
          line-height: 0;
          height: 0;
}

#block-views-gallery-block
   {
         background-color: $red;
         overflow: hidden;


          h2{
              display: none;
          }

   }

.view-gallery-page
   {

            padding: 30px;
            background-color: $red;
            border-top: 3px solid $gold;
            //margin-bottom: 16px;

                 div .views-row
                 {
                 
                   padding:30px;
                  width: 200px;
                  height: 200px;
                  float: left;
                 }

            .views-field-field-image img
            {
              //border: 4px solid black;
            width: 200px;
            height: 200px;
            }

              img{
                border:4px solid black;
              }
               
   }
.view-gallery-page:after
   {
         content: ".";
        display: block;
        clear:both;
        visibility: hidden;
        line-height: 0;
        height: 0;
}



.view-service-images-view
{

     div .jcarousel-container-horizontal {
        padding:0px 0px;

       }

     div .jcarousel-next-horizontal
            {
                top: 113px;
                right: -129px;
                 background-image: url("../images/right_arrow.png");
                 background-position: 0px;
                 background-repeat: no-repeat;
                height: 40px;

                &:hover
                {
                  background-position:0px;
                  background-image: url("../images/right_arrow.png");

                }
  
            }
            div .jcarousel-next{
             // background-image: url("../images/right_arrow.png");
            }
      
     div .jcarousel-prev-horizontal
    {
      top: 113px;
      right: 150px;
      background-image: url("../images/left-arrow.png");
      background-repeat: no-repeat;
      background-position: 0px;
                height: 40px;

                 &:hover
                {
                  background-position:0px;
                  background-image: url("../images/left-arrow.png");

                }
     
    }
  
}

.jcarousel-view--service-images-view--block

{

   .service_image{
              transform: skewX(-10deg);
              width: 433px;
              overflow: hidden;
              -webkit-box-shadow:2px 0px 20px;

              margin-left: 74px;
              -webkit-backface-visibility: hidden;
   }

 
 .jcarousel-item-horizontal {
              background:transparent;
              height: 400px;

           }
            
         img{
              transform: skewX(10DEG);
              margin-left: -106px;
              width: 565px;
              height: 277px;
         }
  }



  .white
  {
    color: white;

  }


.block-views h2.title, .block-views h2.title a
  {
    color: #b98537;
  }