@font-face {
    font-family: 'passion-one';
    src: url('../fonts/passionone-regular-webfont.eot');
    src: url('../fonts/passionone-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/passionone-regular-webfont.woff') format('woff'),
         url('../fonts/passionone-regular-webfont.ttf') format('truetype'),
         url('../fonts/passionone-regular-webfont.svg#passionbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
  font-family:"passion-one";
  -webkit-font-smoothing:antialiased;
}