.view-image-scroller
{
	
 
		position:relative;
		width:100%;
		overflow:hidden;
		font-weight:600;
		line-height: 135px;

		.view-content
		{
			position:relative;
		}
         #prev,
	     #next
	{
		position:absolute;
		z-index:1;
		top:50%;
		margin-top:-30px;
		cursor:pointer;
	}
	#prev
	{
		
	}
	#next
	{
		right:0;
	}
         

		.views-row
		{
			position:relative;
			float:left;
			width:30%;
			text-align: center;
			color:white;
			text-shadow:1px 1px 2px black;
			&:hover
		{
			.views-field-title
			{
				display: block;
			}
		}

			.views-field-field-image img
			{
				position:absolute;
				top:0;
				left:0;
				z-index:0;
				width:100%;
				height:auto;

			}
			.views-field-field-image-scroll img
			{
				vertical-align: middle;
				height: 50%;
			}
		.views-field-title
			 {
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				background: #404040;
				background: rgba(0,0,0,0.5);
				color: white;
				font-size: 24px;
				 padding-right:0px;
			}

		}
	
}



.view-service-images-view
{
	
 
		position:relative;
		width:100%;
		overflow:hidden;
		font-weight:600;
		
		.service_image
		{
			width: 100%;
			//margin: 0 35%;
			overflow: hidden;
			transform: skewx(-10deg);
			-webkit-box-shadow:-3px 0px 20px black;
			-webkit-backface-visibility: hidden;
			height: auto;	
			display: block;

			img
			{
				transform: skewx(10deg);
				margin-left: -9%;
				width:117%;
				height: 100%;
				display:block;

			}
		}

		.view-content
		{
			position:relative;
		}
         #prev-service,
	     #next-service
	{
		position:absolute;
		z-index:1;
		top:50%;
		margin-top:-15px;
		cursor:pointer;
	}
	#prev-service
	{
		left:13px;
	}
	#next-service
	{
		right:10px;
	}
         

		.views-row
		{
			position:relative;
			float:left;
			width:30%;
			text-align: center;
			color:white;
			text-shadow:1px 1px 2px black;
			opacity:0.3;
			transition:opacity 1000ms;

			&.active
			{
				opacity:1;
			}
			
			.views-field-field-image img
			{
				position:absolute;
				top:0;
				left:0;
				z-index:0;
				width:100%;
				height:auto;
				
			}
	
		}
	
}


