.view-image-scroller
{
	position:relative;
	width:100%;
	overflow:hidden;
	font-weight:600;
	line-height: 135px;

	.view-content
	{
		position:relative;
	}
    .view-header .prev,
    .view-footer .next
	{
		position:absolute;
		z-index:1;
		top:50%;
		margin-top:20px;
		cursor:pointer;
	}
	.view-footer .next
	{
		right:0;
	}
	.view-header,
	.view-footer
	{
		float: none;
	}
	.view-header h2 a
	{
		display: block;
		font-size:0;
		color:transparent;
		height: 60px;
		background:url(../images/vehicle_repair.png) no-repeat center center;
		margin-top: 10px;
	}
         
	.views-row
	{
		position:relative;
		float:left;
		width:30%;
		text-align: center;
		color:white;
		text-shadow:1px 1px 2px black;
		&:hover .views-field-title
		{
			display: block;
		}

		.views-field-field-image img
		{
			position:absolute;
			top:0;
			left:0;
			z-index:0;
			width:100%;
			height:auto;
		}
		.views-field-field-image-scroll img
		{
			vertical-align: middle;
		}
		.views-field-title
		{
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background: #404040;
			background: rgba(0,0,0,0.5);
			color: white;
			font-size: 24px;
			padding-right:0px;
		}
	}
}

.view-service-images-view
{
		position:relative;
		width:100%;
		overflow:hidden;
		font-weight:600;
		
	.service_image
	{
		width: 100%;
		overflow: hidden;
		transform: skewx(-10deg);
		-webkit-box-shadow:-3px 0px 20px black;
		-webkit-backface-visibility: hidden;
		height: auto;	
		display: block;

		img
		{
		transform: skewx(10deg);
		margin-left: -9%;
		width:117%;
		height: 100%;
		display:block;
		}
	}

	.view-content
	{
		position:relative;
	}
     #prev-service,
     #next-service
	{
		position:absolute;
		z-index:1;
		top:50%;
		margin-top:-15px;
		cursor:pointer;
	}
	#prev-service
	{
		left:13px;
	}
	#next-service
	{
		right:10px;
	}
         
	.views-row
	{
		position:relative;
		float:left;
		width:30%;
		text-align: center;
		color:white;
		text-shadow:1px 1px 2px black;
		opacity:0.3;
		transition:opacity 1000ms;

		&.active
		{
			opacity:1;
		}
		.views-field-field-image img
		{
		position:absolute;
		top:0;
		left:0;
		z-index:0;
		width:100%;
		height:auto;
			
		}
	}
}


.view-gallery 
{
	div .views-row
	{
		display: inline-block;
	}
	.views-field-title
	{
		font-size: 36px;
		text-align: center;
		width: 100%;
		line-height: 64px;
		margin-left: 35px;		
	}

 	 div .views-row-odd
	 {
		width: 55%;
		height: auto;
		-webkit-transform: skewX(-10deg);
		-ms-transform: skewX(-10deg);
		transform: skewX(-10deg);
		z-index: 46;
		float: left;
		left: -60px;
		position: relative;
		-webkit-backface-visibility: hidden;

		a
		{
			color: black;
		}
	    &:hover .views-field-title a
		{
			text-decoration: none;
			color: white;
		}
		.views-field-title
		{
		 	-webkit-transform: skewX(10deg);
	 		-ms-transform: skewX(10deg);
			transform: skewX(10deg);
		}
		.views-field-field-image
		{
			box-shadow: -2px 0px 20px black;
		}
		.field-content
		{
			overflow: hidden;
		}
									
		img
		{
			-webkit-transform: skewX(10deg);
			-ms-transform: skewX(10deg);
			transform: skewX(10deg);
			margin-right: 53px;
			width: 100%;
			height: auto;
			margin-left: 47px;
			position: relative;
		   -webkit-box-shadow: 10px 0 5px -2px grey;
			display: block;
		}

	}
	div .views-row-even
 	{
		width: 55%;
		height: auto;
		margin-left:-122px;
		z-index: 1;
		position: relative;
		img
		{
			width: 100%;
			height: auto;
			z-index: -1;
		}
		a
		{
			color: black;
		}
		 &:hover .views-field-title a
		{
			text-decoration: none;
			color: white;
		}
	}
 }

.view-gallery:after
{
	content: ".";
	display: block;
	clear:both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

#block-views-gallery-block
{
	 background-color: $red;
	 overflow: hidden;
	 width: 100%;
	h2
	{
		display: none;
	}

}
.view-gallery-page
{
		padding-left: 75px;
		background-color: #bd1818;
		border-top: 3px solid $gold;
		width:100%;
		div .views-row
		 {
			display: inline-block;
			margin:30px;
		 }
		img
		{
			border:4px solid black;
		}
				 
}
.view-gallery-page:after
{
	content: ".";
	display: block;
	clear:both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}


.view-list-view
{
	overflow: hidden;

	.views-row
	{
		clear: both;
		position: relative;
		height: auto;

		&.read-more-open
		{
			.read-more
			{
				display: none;
			}
			.read-less a
			{
				display: block;
			}
		}

	    &:hover .read-more a.body-content
		{
			display: block;
		}

		.read-more,
		.read-less
		{
			position: absolute;
			display: inline;

			a
			{
				display: none;
			}
		}

		.service-title
		{
			color:white;
			font-size:24px;
		}

		.body-content
		{
			cursor: pointer;
			color:$gold;
			 font-size:28px;
			 padding-right: 40px;
			 float: left;
			 clear: left;
		}
	}
}
.view-list-view
{
    div .views-field-body
    {
      display: none;
      float: left;
      clear: both;
      margin-top: 20px;
      border-top: 4px solid $gold;
      border-bottom: 4px solid $gold;
      color:white;
      background: $red;
      padding: 20px;
      border-bottom-width: 4px solid $gold;
    }
}

